/*
http://lesscss.org/ dark theme
Originally ported to CodeMirror by Peter Kroon
Modified by Scott Mangiapane
*/

.cm-s-custom.CodeMirror {
    background: white;
    color: inherit;
    font-family: 'Roboto Mono';
    height: calc(100%);
}

.cm-s-custom.CodeMirror span.CodeMirror-matchingbracket { color: #7EFC7E; }

.cm-s-custom .CodeMirror-cursor { border-color: #777; }

.cm-s-custom .CodeMirror-gutters { background: white; border-right:1px solid #777; }
.cm-s-custom .CodeMirror-guttermarker { color: #599eff; }
.cm-s-custom .CodeMirror-guttermarker-subtle { color: #777; }
.cm-s-custom .CodeMirror-linenumber { color: #777; }

.cm-s-custom span.cm-header { color: #a0a; }
.cm-s-custom span.cm-quote { color: #090; }
.cm-s-custom span.cm-keyword { color: #599eff; }
.cm-s-custom span.cm-atom { color: #C2B470; }
.cm-s-custom span.cm-number { color: #B35E4D; }
.cm-s-custom span.cm-def { color: white; }
.cm-s-custom span.cm-variable { color:#D9BF8C; }
.cm-s-custom span.cm-variable-2 { color: #669199; }
.cm-s-custom span.cm-variable-3, .cm-s-custom span.cm-type { color: white; }
.cm-s-custom span.cm-property { color: #92A75C; }
.cm-s-custom span.cm-operator { color: #92A75C; }
.cm-s-custom span.cm-comment { color: #666; }
.cm-s-custom span.cm-string { color: #BCD279; }
.cm-s-custom span.cm-string-2 { color: #f50; }
.cm-s-custom span.cm-meta { color: #738C73; }
.cm-s-custom span.cm-qualifier { color: #555; }
.cm-s-custom span.cm-builtin { color: #ff9e59; }
.cm-s-custom span.cm-bracket { color: #EBEFE7; }
.cm-s-custom span.cm-tag { color: #669199; }
.cm-s-custom span.cm-attribute { color: #00c; }
.cm-s-custom span.cm-hr { color: #999; }
.cm-s-custom span.cm-link { color: #00c; }
.cm-s-custom span.cm-error { color: #9d1e15; }