* {
    color: inherit;
    font: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

a {
    cursor: default;
    text-decoration: inherit;
}

body, html, #app {
    height: 100%;
    font: caption;
    line-height: 1.6;
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
}

img {
    -webkit-user-drag: none;
}

input {
    -webkit-app-region: no-drag;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    min-height: 24px;
    padding: 0 6px;
    text-decoration: none;
}

input[type=button]:active {
    background-color: rgba(0, 0, 0, 0.1);
}

input[type=button]:disabled {
    opacity: 0.5;
}

input:focus {
    outline: 0;
}

::-webkit-scrollbar {
    background-color: transparent;
    height: 14px;
    width: 14px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.banner {
    background-color: #FF9800;
}

.bar {
    height: 38px;
    padding: 0 calc(24px + 4px);
}

.center-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.clear {
    clear: both;
}

.dashboard {
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: calc(100% - 38px - 1px);
    overflow: auto;
}

.dashboard.dashboard-small {
    height: calc(100% - 2 * 38px - 1px);
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fill {
    height: 100%;
    width: 100%;
}

.horizontal-full {
    display: flex;
    height: calc(100% - 12px * 2);
    padding: 12px;
    width: calc(100% - 12px * 2);
}

.horizontal-half {
    height: calc(100% - 12px * 2);
    padding: 12px;
    width: calc(50% - 12px * 2)
}

.solution {
    border-radius: 4px;
    float: right;
    padding: 0 4px;
}

.solution:hover {
    background-color: #2196F3;
    color: white;
    cursor: pointer;
}

.solution:hover:active {
    background-color: #1976D2;
    color: white;
}

.solutions-wrapper {
    font-family: 'Roboto Mono';
    overflow-x: auto;
    padding: 4px 0;
}

.titlebar {
    -webkit-app-region: drag;
}

#app {
    background-color: #ECECEC;
    color: WindowText;
}