#editor-input {
    background: transparent;
    caret-color: white;
    color: transparent;
    resize: none;
    z-index: 1;
}

#editor-input, .grow-wrap::after { grid-area: 1 / 1 / 2 / 2; }

#editor-wrapper {
    min-height: 100%;
    position: relative;
}

#editor-highlighting, #editor-input {
    position: absolute;
    top: 0;
}

#editor-highlighting, #editor-highlighting > code, #editor-input, .grow-wrap::after {
    border: 0;
    font-family: 'Roboto Mono';
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
    min-height: 100%;
    outline: none;
    overflow-wrap: break-word;
    padding: 0;
    tab-size: inherit;
    white-space: pre-wrap;
    width: 100%;
}

.grow-wrap { display: grid; }

.grow-wrap::after {
    content: attr(data-replicated-value) ' ';
    overflow: auto;
    visibility: hidden;
}
