.solution {
    border-radius: 4px;
    display: inline;
    padding: 0 4px;
    text-align: right;
}

.solution:hover {
    background-color: #2196f3;
    color: white;
    cursor: pointer;
}

.solution:hover:active {
    background-color: #1976d2;
    color: white;
}

.solution-boolean { color: #c792ea; }

.solution-number { color: #fd9170; }

.solution-string { color: #c3e88d; }

.solution-wrapper {
    display: block;
    text-align: right;
}
