.tab {
    color: rgba(255, 255, 255, 0.6);
    padding: 8px;
}

.tab:hover { cursor: pointer; }

.tab:hover .tab-close { color: rgba(255, 255, 255, 0.6); }

.tab:hover .tab-close:hover { color: white; }

.tab-bar {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid black;
    display: flex;
    justify-content: left;
    padding: 0 8px;
}

.tab-close { color: transparent; }
