code, p, pre {
    cursor: default;
    user-select: none;
}

code, p, pre, textarea {
    color: white;
    font-family: 'Roboto Mono';
    font-size: 14px;
    line-height: 1.6em;
    tab-size: 4;
}

body, div, html, p, pre, textarea {
    margin: 0;
    padding: 0;
}

body, html, .app, #root { height: 100%; }

html { background-color: #263238; }

.bar { height: 38px; }

.center-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dashboard {
    height: calc(100% - 38px - 1px);
    overflow: auto;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fill {
    height: 100%;
    width: 100%;
}
