* {
    color: inherit;
    font-family: 'Roboto Mono';
    line-height: inherit;
    margin: 0;
    padding: 0;
}

a {
    cursor: default;
    text-decoration: inherit;
}

body, html, #root, .App {
    height: 100%;
    font: caption;
    line-height: 1.6;
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
}

img { -webkit-user-drag: none; }

input {
    -webkit-app-region: no-drag;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    min-height: 24px;
    padding: 0 6px;
    text-decoration: none;
}

input[type=button]:active { background-color: rgba(0, 0, 0, 0.1); }

input[type=button]:disabled { opacity: 0.5; }

input:focus { outline: 0; }

.App {
    background-color: #2f2f2f;
    color: white;
}

.bar {
    height: 38px;
    padding: 0 calc(24px + 4px);
}

.center-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.clear { clear: both; }

.dashboard {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: calc(100% - 38px - 1px);
    overflow: auto;
}


.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fill {
    height: 100%;
    width: 100%;
}

.horizontal-full {
    display: flex;
    height: 100%;
    width: 100%;
}

.horizontal-half {
    height: 100%;
    width: 100%;
}

.solution {
    border-radius: 4px;
    padding: 0 4px;
    text-align: right;
}

.solution:hover {
    background-color: #2196f3;
    color: white;
    cursor: pointer;
}

.solution:hover:active {
    background-color: #1976d2;
    color: white;
}

.solutions-wrapper { overflow-x: auto; }

.titlebar { -webkit-app-region: drag; }
